<h1>Register</h1>
<form action="/register" method="post" id="register" class="forms colFlex">
    <label for="">Username</label>
    <input type="text" name="username" id="username">
    <label for="">Password</label>
    <input type="text" name="password" id="password">
    <input type="submit">
</form>
<a href="login">Login</a>